:root{
    --text-color: #dadada;
    --background-color: #222222;
    --card-color1: #2e2e2e;
    --card-color2: #4d4d4d;
    --accent: #e6e200;
}

*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--text-color);
}
body{
    padding: 0px 0px;
    margin: 0px 0px;
    background-color: var(--background-color);
}
header{
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0px 0px;
    display: flex;
}
.title-words{
    margin: 0px 0px;
    padding: 10px 10px;
}
.username{
    margin: 0px 0px;
    padding: 10px 10px;
    margin-left: auto;
}
.login-card{
    background: linear-gradient(0deg, var(--card-color1) 0%, var(--card-color2) 100%);
    padding: 10px 25px;
    width: fit-content;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.login-card input{
    margin:10px -10px;
    width:100%;
    padding: 10px;
    font-size: 1.2em;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid rgba(255, 255, 255, 0.541);
    outline: 0;
    height: 2em;
}
.login-card input:focus{
    border-bottom: 4px solid rgba(255, 255, 255, 0.541);
    margin-bottom: 8px;
}
.login-card input:focus::placeholder{
    color: var(--text-color);
}
.login-inputs{
    height: 10em;
}
.login-card h1{
    width: fit-content;
    margin: 20px auto 0 auto;
}
.button-container{
    width: 100%;
    margin: 0 auto;
    :hover{
        cursor: pointer;
    }
}
.button-container button{
    font-size: 1.5em;
    border-radius: 100000px;
    padding: 10px;
    border: none;
    background-color: var(--accent);
    color: var(--card-color1);
    width: 100%;
    margin-top: 10px;
}
.password-warning{
    color: rgba(255, 0, 0, 0.658);
    width: fit-content;
    margin: 0 auto;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
img{
    width:20px;
    filter: invert(100%);
    margin-bottom: -5px;
    margin-left: 8px;
}
.back-button{
    margin: auto 0px auto 10px;
}
.back-button:hover{
    cursor: pointer;
}
.group-card{
    background: linear-gradient(0deg, var(--card-color1) 0%, var(--card-color2) 100%);
    padding: 10px 25px;
    width: 60%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height:fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.group-card a{
    text-decoration: none;
}
.group-card li{
    display: flex;
    list-style: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.541);
    text-decoration: none;
    p{
        width: auto;
    }
    button{
        background-color: rgba(255, 0, 0, 0.658);
        margin: auto 25px auto auto;
        height: 2em;
        width: 2em;
        border: none;
        border-radius: 100000px;
        padding: 0px 0px;
        font-weight: bold;
    }
}
.group-card li button:hover{
    cursor: pointer;
}
.group-card h1{
    width: fit-content;
    margin: 20px auto 0 auto;
}

.groupid-card{
    background: linear-gradient(0deg, var(--card-color1) 0%, var(--card-color2) 100%);
    padding: 10px 25px;
    width: 40%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height:fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.groupid-card h1{
    width: fit-content;
    margin: 20px auto 0 auto;
}
.groupid-card input{
    margin:10px -10px;
    width:100%;
    padding: 10px;
    font-size: 1.2em;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid rgba(255, 255, 255, 0.541);
    outline: 0;
    height: 2em;
}
.groupid-card input:focus{
    border-bottom: 4px solid rgba(255, 255, 255, 0.541);
    margin-bottom: 8px;
}
.groupid-card input:focus::placeholder{
    color: var(--text-color);
}
.groupid-inputs{
    display: flex;
    width: 60%;
    margin: 0 auto;
}
.groupid-inputs a{
    height: 100%;
    margin: auto auto auto auto;
}
.groupid-inputs button{
    background-color: transparent;
    border: none;
    font-size: 1.2em;
    width: fit-content;
    height: 100%;
    border-bottom: 2px solid transparent;
}
.groupid-inputs button:hover{
    border-bottom: 2px solid rgba(255, 255, 255, 0.541);
    cursor: pointer;
}